.reporter {
  width: 400px;
  background-color: var(--grey50);
  border-right: 1px solid #ccc;
  overflow: scroll;
}

.suite {
  padding: 2px 0px 2px 5px;
  border-left: 5px solid transparent;
  &.passed {
    border-left-color: var(--green300);
  }
  &.failed {
    border-left-color: var(--red300);
    .title {
      color: var(--red300);
    }
  }
  &.pending {
    border-left-color: var(--brand-info);
  }
}

.test {
  padding: 2px 0px 2px 5px;
  border-left: 5px solid transparent;
  &.passed {
    border-left-color: var(--green700);
  }

  &.failed {
    border-left-color: var(--brand-danger);
    .title {
      color: var(--red700);
    }
  }

  &.pending {
    border-left-color: var(--brand-info);
  }
}

.title {
  font: 14px 'Work Sans', sans-serif;
  font-weight: 500;
}
