.container {
  width: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.suite {
  &.passed {
    background-color: var(--folder-passed-color);
  }
  &.failed {
    background-color: var(--folder-failed-color);
  }
}

.test {
  &.passed {
    background-color: var(--test-passed-color);
  }
  &.failed {
    background-color: var(--test-failed-color);
  }
}
