@import './assets/fonts/work-sans.scss';

body {
  --folder-passed-color: #81c784;
  --folder-failed-color: #e57373;
  --test-passed-color: #388e3c;
  --test-failed-color: #d9534f;
  --border-color: #e5e5e5;

  --primary-text-color: #6e6e6e;
}
